/* Estilo para uma tela de computador */
body{
    background-color: blue;
}

#box{
    margin: auto;
    background-color: white;
    padding: 10px;
    max-width: 450px;
}

img{
    width: 100%;
}

p{
    text-align: justify;
}

/* Estilo para uma tela de Tablet */
@media screen and (max-width: 768px) {
    body{
        background-color: coral;
        font-size: 18px;
    }
}

/* Estilo para uma tela de Celular */
@media screen and (max-width: 320px){
    body{
        background-color: chartreuse;
    }
}